form
  script(src='../../js/answerForm.js').
  hr
  h4 Your Answer
  .form-group
    input(type='hidden' name='question_id' value=question._id)
    textarea.form-control(name='text', id='answer-text')
  .form-group
      .btn.btn-primary(id='submit-answer')
        i.far.fa-envelope.fa-sm
        | Submit