#sidebar.col-2
  
  .form-group
    label School of
    select#schoolOption.form-control(name='school')
  .form-group
    label Course
    select#courseOption.form-control(name='course')
  .form-group
    label Course Code
    select#moduleOption.form-control(name='code')
  .form-group
    a#update-link(href='#')
      button#update-paper.btn.btn-outline-dark.full-btn(type='submit') Update
  #community-forum-button.form-group
    p.did-not-find Didn't find what you were looking for?
    p.head-over Head over to our community forums for more!
    a#pyp-link(href="#")
      button.btn.btn-outline-dark.full-btn(type='button') PYP
    
