.navbar.navbar-light.fixed-top.navbar-expand-md.bg-light
  .container
    a.navbar-brand(href='/')
      | PASSYOURPAPER 
      i.fa.fa-chalkboard-teacher 
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link.display-flex(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                if user.profile.votes
                  span= user.profile.votes
                if user.profile.badges
                  each badge in user.profile.badges
                    if (badge == "Gold")
                      i.fas.fa-circle.gold-badge
                    else if (badge == "Silver")
                      i.fas.fa-circle.silver-badge
                    
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
