.scrollspy
  ul
    each question in questions 
      if (question.questionParts !== [])
        each part in question.questionParts
          li
            a(href= "#" + question.questionNo+ part.questionNo) #{question.questionNo}#{part.questionNo}
