#sidebar
  .form-group
    label School of
    select.form-control
      option(selected='')
        | EEE
      option
        | SCBE
      option
        | SCSE
      option
        | ADM
      option
        | NBS
  .form-group
    label Course
    select.form-control
      option(selected='')
        | IEM
      option
        | EEE
  .form-group
    label Course Code
    select.form-control
      option(selected='')
        | IM4717
      option
        | IM4483
  .form-group
    label Year
    select.form-control
      option(selected='')
        | 2016
      option
        | 2015
      option
        | 2017
      option
        | 2018
  .form-group
    label Sem
    select.form-control
      option(selected='')
        | 1
      option
        | 2
  .form-group
    button.btn.btn-outline-dark.full-btn(type='button') Update
  #community-forum-button.form-group
    p.did-not-find Didn't find what you were looking for?
    p.head-over Head over to our community forums for more!
    button.btn.btn-outline-dark.full-btn(type='button') Community Forums
