@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
// Flatly 4.0.0
// Bootswatch


// Variables ===================================================================



$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Oswald:400,600" !default;
@import url($web-font-path);

// Navbar =======================================================================

.bg-primary {
  .navbar-nav .active > .nav-link {
    color: $success !important;
  }
}

.bg-dark {
  background: {
    // image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
    color: rgba(255,255,255,1) !important;
  }

  &.navbar-dark .navbar-nav {
    .nav-link:focus,
    .nav-link:hover,
    .active > .nav-link {
      color: $primary !important;
    }
  }
}
.navbar-light {
  .navbar-brand{
    color: #000;
    &:hover{
      color: $secondary;
    }
  }
}
.nav-link{
  color: #000 !important;
}
// Buttons =====================================================================

.btn {
  &-secondary,
  &-secondary:hover,
  &-warning,
  &-warning:hover {
    color: #fff;
  }
}

// Typography ==================================================================

// Tables ======================================================================

.table {

  .thead-dark th {
    background-color: $primary;
  }

  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;
  }

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-hover {

    .table-success:hover {
      &, > th, > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &, > th, > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &, > th, > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &, > th, > td {
        background-color: darken($warning, 5%);
      }
    }

  }
}

// Forms =======================================================================

// Navs ========================================================================

.nav-tabs {
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $primary;
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators ==================================================================

.close {
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.badge {
  &-secondary,
  &-warning {
    color: #fff;
  }
}


.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      background-color: $value;
    }
  }

  &-light {
    &,
    & a,
    & .alert-link {
      color: $body-color;
    }
  }
}

// Progress bars ===============================================================

// Containers ==================================================================
.modal .close{
  color: $black;
}
.index{
  background:{
    image: url('/images/home.jpg');
    size: cover;
    position: center;
    repeat: no-repeat;
  }
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0;
  z-index:0;

}


footer {
  color: $white;
}

h1 {
  font-family: 'Oswald';
}

.home-form{
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
  /* margin-top: -250px; */
  /* margin-left: -25%; */
}
section{
  color: white;
}

section fieldset{
  border: 0;
}
.school-button{
  width: 30%;
  padding: 10px;
  margin: 10px;
}
.login-link{
  color: white;
}
select {
  width: 100%;
}
.back-button{
  display: block;
  margin-bottom: 30px;
}

.progress{
  margin-bottom: 30px;
}
#inline-href{
  display: inline;
}
input[type=radio] {
    visibility:hidden;
}
label {
    cursor: pointer;
}
input[type=radio]:checked + label {
    /* background: red; */
}
.paper-container{
  // width: 100vw;
  height: 95vh;
  // position: absolute;
  top: 0;
  left: 0;
}
#sidebar{
  background-color: #FFC008;
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  height: 100%;
  width: 16.66667%;
}
.sidebar-row {
  height:100%;
  overflow: scroll;
  margin-left: 20%;
}
.full-btn{
  width: 100%;
}

#community-forum-button{
  position: absolute;
  bottom: 0;
  width: 80%;
}
.did-not-find{
  font-size: 12px;
  text-align: center;
  margin: auto;
}
.head-over{
  font-size: 10px;
  text-align: center;
  margin: auto;
}
.no-paper{
  text-align: center;
  width: 50%;
  margin: 20% auto;
}
#paper-main-container{
  padding-top: 30px;
}
.question-card-number{
  float: left;
  margin-right: 30px;
}
.question-card-row{
  margin: {
    top: 20px;
    bottom: 20px;
  }
}
.selectedRadio:checked+label {
  background-color: white;
  color: black;
}
// input[type="radio"]:checked+label{ font-weight: bold; } 
