extends layout

block content


  #search-box
    h1 Got Question? Enquire Now!
    input.form-control(type='text', placeholder='Enter your course code', aria-label='Username', aria-describedby='basic-addon1')
