extends ../layout

block content
  .page-header
    h3 Question

  div=question.text
  h3 Answers
  .answers
    for answer in answers
      .answer
        .vote
          .upvote
          =answer.votes
          .downvote
        .text
          =answer.text
          .small
          =answer.user_id.email + ' | ' +  answer.createdAt